.product-header{
    color: blue;
    font-weight: bold;
    background-color: cornflowerblue;
    margin: 0px;
    

}
.demo-style{
    height: 10px;
}
table,tr,td,th{
    border: 1px solid black;
    border-collapse: collapse;
}